version: '3.8'
services:
  # Serviço da Aplicação Django
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  # ⚙️ Serviço do Banco de Dados MySQL
  db:
    image: mysql:8.0 
    volumes:
      - mysql_data:/var/lib/mysql 
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD} 
    ports:
      - "3307:3306"
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data: 